:root{
    --dark-blue : rgb(48, 48, 49);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Anek Bangla', sans-serif;
}

.body{
    min-height: 100vh;
    display: flex;
}


.sidebar{
    font-family: 'Anek Bangla', sans-serif; 
    background-image: url(./background.jpg);
    background-size: 100% 100%;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-width: 300px;
}

.logo{
    background-color: rgb(0, 0, 0);
    opacity: 0.55;
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin-top: 40%;
}

.credit{
    background-color: rgb(27, 25, 25);
    color: white;
    opacity: 0.65;
}

a:link {
    color: rgb(23, 23, 41);
}



a:visited{
    color: rgb(131, 131, 221);
}

a:hover {
    color: rgb(0, 0, 0);
}


.top{
    display: flex;
    flex:1;
    padding-left: 48px;
    align-items: center;
    padding-top: 24px;
    
}



.top > p {
    font-size: 24px;
    color: white;
    width: 750px;
}

.login{
    display: flex;
    flex:2;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 4;
    background-color: var(--dark-blue);
}

.input-container{
    column-gap: 64px;
    row-gap: 12px;
}

.input, .input-container{
    display: flex;
}

.input{
    flex-direction: column;
}

.input > label {
    text-indent: 2px;
    letter-spacing: 4px;
}

input:invalid{
    border: 1px solid red;
}

.error-tag{
    margin-top:0;
    margin-bottom: 0;
    color: red;
    font-size: 12px;
}

.form-input{
    padding-left: 36px;
    padding-bottom: 24px;
    box-shadow: 0 2px 2px 0 rgb(255, 255, 255);
    background-color: rgb(226, 225, 225);
}

.create{
    margin-left: 36px;
    margin-top: 12px;
    padding: 12px 48px;
    background-color: rgb(80, 80, 94);
    color: white;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
}

.create:hover{
    background-color: rgb(97, 97, 121);   
}

.create:active{
    box-shadow: inset 0px 0px 5px rgb(175, 187, 236) ;
}

.login > p {
    padding-left: 36px;
    font-size: 18px;
}

.form-input > p {
    font-size: 24px;
    font-weight: bold;
}

.text {
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 24px;
    border: 1px solid rgb(189, 188, 188);
    font-size: 16px;
}

.text:focus{
    box-shadow: 3px 3px grey;
}

.login > p{
    color: white;
}
